.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 0 15px;
  background: #f7f9fc;
  
}

.card {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}


h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-weight: 600;
    background-color: rgb(236, 242, 245);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #4e8cff;
}

textarea {
  height: 100px;
}

.btn-primary {
  width: 100%;
  padding: 12px;
  background: #4e8cff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-primary:hover {
  background: #2866d6;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}