.container {
  width: 60%;
  margin: auto;
  padding: 20px;
  background-color: #f7f9fc;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input {
  flex: 1;
  padding: 8px;
  font-size: 15px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-weight: bold;
}

.loading {
  font-style: italic;
}

.card {
   background-color: #f7f9fc;
  padding: 15px;
 
  border-radius: 4px;
}
